--extra-index-url https://download.pytorch.org/whl/cpu

flask
gunicorn
chromadb
annotated-types==0.7.0

numpy<2.0.0
opencv-python-headless<=4.10.0.82
ultralytics
watchdog

torch==2.0.1+cpu
torchvision==0.15.2+cpu

onvif_zeep==0.2.12
zeep==4.3.2
lxml==6.1.0
python-dotenv